
.nav-logo {
  width: 60px;
}


.section {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}
a{
  font-family: 'Cutive Mono', monospace;
}
h1,h2, p{
  font-family: 'Roboto Slab', serif;
}
@media (min-width:801px) {
nav.navbar.navbar-expand-lg.navbar-light.bg-white{
  padding-right: 250px;
  padding-left: 250px;
}
}
